canvas {
  border:1px solid #000000;
}
body {
    background-color: #d0e4fe;
}

#head {
  height:60px;
  background-color: #6495ed;
}
#contents {
  background-color: none;
}
#left {
    width: 120px;
    height:300px;
    float: left;
    padding: 1px;
    border: 1px solid gray;
    margin: 0;
}
#center {
  float: left;
}
th {
  background-color: #6495ed;
}
#foot {
  height:100px;
  background-color: #6495ed;
  background-image: url("asset/icon_128.png");
  background-repeat: no-repeat;
  background-position: left top;
  clear: both;
}
